In [3]:
awk '{print}' marks.txt

1) Amit     Physics    80
2) Rahul    Maths      90
3) Shyam    Biology    87
4) Kedar    English    85
5) Hari     History    89

In [4]:
awk -v name=Jerry 'BEGIN{printf "Name = %s\n", name}'

Name = Jerry

In [5]:
awk '{ sum += $NF } END { print "Total =", sum }' marks.txt

Total = 431