Using `xeus-sqlite`\
Interactive alternative https://mybinder.org/v2/gh/jupyter-xeus/xeus-sqlite/stable

In [1]:
%CREATE temp.db tempdb

In [2]:
CREATE TABLE players (Name STRING, Class STRING, Level INTEGER)

In [ ]:
INSERT INTO players (Name, Class, Level) 
VALUES 
    ("Martin Splitskull", "Warrior", 3),
    ("Sir Wolf", "Cleric", 2);

In [13]:
INSERT INTO players (Name, Class) VALUES ("Sylvain, The Grey", "Wizard")

In [14]:
SELECT * FROM players

+-------------------+---------+-------+
| Name              | Class   | Level |
+-------------------+---------+-------+
| Martin Splitskull | Warrior | 3     |
+-------------------+---------+-------+
| Martin Splitskull | Warrior | 3     |
+-------------------+---------+-------+
| Sir Wolf          | Cleric  | 2     |
+-------------------+---------+-------+
| Martin Splitskull | Warrior | 3     |
+-------------------+---------+-------+
| Sir Wolf          | Cleric  | 2     |
+-------------------+---------+-------+
| Sylvain, The Grey | Wizard  |       |
+-------------------+---------+-------+

In [15]:
SELECT SUM (Level) FROM players

+-------------+
| SUM (Level) |
+-------------+
| 13          |
+-------------+

In [16]:
%TABLE_EXISTS players

The table players exists.

In [17]:
%TABLE_EXISTS npcs

The table npcs doesn't exist.

In [18]:
%GET_INFO

Magic header string: SQLite format 3
Page size bytes: 4096
File format write version: 1
File format read version: 1
Reserved space bytes: 0
Max embedded payload fraction 64
Min embedded payload fraction: 32
Leaf payload fraction: 32
File change counter: 5
Database size pages: 2
First freelist trunk page: 0
Total freelist trunk pages: 0
Schema cookie: 1
Schema format number: 4
Default page cache size bytes: 0
Largest B tree page number: 0
Database text encoding: 1
User version: 0
Incremental vaccum mode: 0
Application ID: 0
Version valid for: 5
SQLite version: 3045003

In [19]:
%DELETE